@use "../abstracts/mixins" as mixins;

.form-card {
    &__label {
        margin-bottom: 20px;
        font-size: 1.8rem;

        @include mixins.screen(md) {
            font-size: 1.6rem;
            margin-bottom: 15px;
        }

        @include mixins.screen(sm) {
            margin-bottom: 12px;
        }
    }

    &__heading {
        display: flex;
        align-items: center;
        padding-left: 5px;
    }

    &__icon {
        display: block;
        width: 30px;
    }

    &__link {
        padding-right: 5px;
    }

    &__bottom {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @include mixins.screen(md) {
            margin-top: 20px;
        }

        @include mixins.screen(sm) {
            margin-top: 12px;
        }
    }

    &__btn-cancel {
        font-weight: 500;
    }
}
