@use "../abstracts/mixins" as mixins;

.profile {
    background: var(--profile-page-bg);
    margin-bottom: 30px;

    &-container {
        margin-top: 30px;
    }

    &__sidebar {
        border-radius: 20px;
        box-shadow: 0px 20px 60px 10px var(--profile-sidebar-shadow);
        background: var(--profile-sidebar-bg);
        overflow: hidden;
    }

    &-user {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 246px;
        padding: 40px 20px 20px;
        background: linear-gradient(180deg, rgba(26, 22, 46, 0) 0%, #1a162e 100%), url("../img/profile/cover.png") no-repeat center / cover;
        box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);

        &__avt {
            width: 122px;
            height: 122px;
            border: 5px solid rgba(255, 255, 255, 0.2);
            border-radius: 50%;
            box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
            object-fit: cover;
            background: #eee content-box;
        }

        &__name {
            margin-top: 15px;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.44;
            color: #fff;
        }

        &__desc {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.46;
            color: #fafafd;
        }
    }

    &-menu {
        margin: 30px;

        &__title {
            margin-bottom: 18px;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.44;
        }

        &__list {
            margin-top: -6px;
        }

        &__item {
            display: flex;
            align-items: center;
            gap: 10px;
            height: 32px;
            padding: 6px 4px;
            border-radius: 8px;
            transition: background-color 0.3s;

            &:hover {
                background: #ebebeb;
            }
        }

        &__icon {
            width: 20px;
            height: 20px;
        }

        &__link {
            flex: 1;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.46;
        }
    }
}
