@use "../abstracts/mixins" as mixins;

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(7243%) hue-rotate(276deg) brightness(117%) contrast(100%);
    --body-bg: #292e39;
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #ededf6;

    @include mixins.screen(lg) {
        --header-bg-color: #171c28;
        --header-shadow-color: rgba(0, 0, 0, 0.2);
    }
    // Dropdown
    --dropdown-bg-color: #2f3441;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(19%) sepia(7%) saturate(1657%) hue-rotate(186deg) brightness(94%) contrast(92%);
    --top-menu-border-color: #171c28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(91%) sepia(1%) saturate(406%) hue-rotate(200deg) brightness(108%) contrast(97%);
    // Act-dropdown
    --act-dropdown-inner-bg: #292e39;
    --act-dropdown-inner-shadow: rgba(23, 28, 40, 0.4);
    --act-dropdown-bottom-border-bg: #171c28;
    // Sidebar
    --sidebar-bg: #292e39;
    --sidebar-shadow-color: rgba(23, 28, 40, 0.4);
    // Category Item
    --cate-item-bg: #171c28;
    --cate-item-thumb-bg: #292e39;
    --cate-item-title-color: #fff;
    // Button
    --filter-btn-bg: #171c28;
    --filter-btn-color: #fff;
    // Product card
    --product-card-bg: #171c28;
    --product-card-shadow: rgba(0, 0, 0, 0.2);
    // Filter form
    --filter-form-bg: #292e39;
    --filter-form-shadow: rgba(0, 0, 0, 0.4);
    --form-tag-bg: #171c28;
    // Footer
    --footer-bg-color: #171c28;
    // Sign Up page
    --auth-intro-bg: #171c28;
    --auth-content-bg: #292e39;
    --auth-text-color: #b9babe;
    --auth-btn-border-sign-in: #b9babe;
    --auth-btn-icon-color: brightness(0) saturate(100%) invert(88%) sepia(9%) saturate(91%) hue-rotate(191deg) brightness(88%) contrast(81%);
    --auth-btn-color-sign-in: #b9babe;

    // Form
    --form-text-input-border: #b9babe;
    --form-input-color: #b9babe;

    // Product detail page
    --product-detail-bg: #292e39;
    --prod-info-heading-color: #eee;
    @include mixins.screen(md) {
        --product-detail-bg: #292e39;
        --prod-info-bg: #171c28;
        --prod-info-heading-color: #b9babe;
    }
    --prod-info-price-color: #eee;
    --prod-info-bg: #171c28;
    --prod-info-tag-bg: #292e39;
    --prod-info-tax-bg: rgb(103 176 68 / 0.2);

    // Breadcrumbs
    --breadcrumbs-bg: #171c28;
    --breadcrumbs-shadow: rgba(23, 28, 40, 0.2);
    --checkout-breadcrumbs-bg: #171c28;

    // Search bar
    --Search-bar-bg: #171c28;

    // Review card
    --review-card-bg: #171c28;

    // Text content
    --text-content-hr-bg: #63606077;

    // Cart info
    --cart-info-bg: #171c28;
    --cart-info-shadow: rgba(23, 28, 40, 0.2);
    --cart-item-input-border-color: #292e39;

    // Gift Item
    --gift-item-icon-wrap-bg: #292e39;
    --gift-item-icon-wrap-shadow: rgba(23, 28, 40, 0.2);

    // Dialog
    --dialog-content-bg: #171c28;
    --dialog-content-shadow: rgba(23, 28, 40, 0.2);
    --form-options-item-bg: #292e39;
}
