// Filter button
.filter-btn {
    display: flex;
    align-items: center;
    gap: 14px;
    height: 36px;
    border-radius: 6px;
    padding: 0 14px;
    color: var(--filter-btn-color);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.42;
    background: var(--filter-btn-bg);
}

// Like button
.like-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 20px 60px var(--like-btn-shadow);

    &:not(&--liked) &__icon--liked {
        display: none;
    }

    &--liked &__icon {
        display: none;
    }

    &__icon--liked {
        margin-top: 6px;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    padding: 0 20px;
    border-radius: 6px;
    font-size: 1.8rem;
    font-weight: 500;
    background: #f8f8fb;
    user-select: none;

    &:hover {
        opacity: 0.9;
    }

    + .btn {
        margin-left: 20px;
    }

    &--text {
        font-size: 1.5rem;
        font-weight: 400;
        color: #9e9da8;
        background: transparent;
    }

    &--primary {
        font-size: 1.4rem;
        background: #ffb700;
    }

    &--outline {
        border: 1px solid #d2d1d6;
        background: transparent;
    }

    &--rounded {
        border-radius: 99px;
    }

    &[disable],
    &--disable {
        opacity: 0.5;
        pointer-events: none;
    }
}
