@use "../abstracts/mixins" as mixins;
.favorite-item {
    display: flex;
    align-items: center;
    gap: 20px;

    &__separate {
        margin: 20px 0;
        height: 1px;
        background: var(--favorite-item-separate-bg);
    }

    &__thumb {
        width: 110px;

        @include mixins.screen(lg) {
            width: 80px;
        }
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46;

        @include mixins.screen(sm) {
            font-size: 1.4rem;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 10px;

        @include mixins.screen(sm) {
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }
    }

    &__price {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.45;

        @include mixins.screen(sm) {
            font-size: 1.8rem;
        }
    }
}
