@use "../abstracts/mixins" as mixins;
$error-color: #ed4337;

.form {
    &:has(:invalid) &__submit-btn {
        opacity: 0.5;
        pointer-events: none;
    }

    &__group {
        margin-top: 30px;

        &--inline {
            display: flex;
            align-items: center;
        }

        @include mixins.screen(md) {
            margin-top: 20px;
        }
    }

    &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
        .form__text-input {
            border-color: $error-color;
            background: rgba($color: $error-color, $alpha: 0.1);
        }

        .form__error,
        .form__input-icon--error {
            display: block;
        }

        .form__input-icon {
            display: none;
        }
    }

    &__text-input {
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 12px;
        border-radius: 10px;
        border: 1.5px solid var(--form-text-input-border);

        &:focus-within {
            border-color: #77dae6;
        }

        @include mixins.screen(md) {
            height: 48px;
        }
    }

    &__input {
        flex: 1;
        height: 100%;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44;
        color: var(--text-color);

        &::placeholder {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.44;
            color: var(--form-input-color);
        }

        &-icon {
            margin-left: 12px;

            &--error {
                margin-left: 12px;
                width: 24px;
                height: 24px;
                display: none;
                animation: shake 0.5s;
            }
        }

        @include mixins.screen(md) {
            font-size: 1.6rem;
        }
    }

    &__error {
        margin-top: 10px;
        text-align: left;
        font-weight: 500;
        font-size: 1.4rem;
        color: $error-color;
        display: none;
    }

    &__checkbox {
        position: relative;
        display: flex;
        align-items: center;
        user-select: none;

        &::before,
        &::after {
            position: absolute;
            content: "";
        }

        &::before {
            width: 20px;
            height: 20px;
            border: 2px solid #9e9da8;
            border-radius: 7px;
        }

        &::after {
            display: none;
            left: 2px;
            top: 4px;
            width: 16px;
            height: 8px;
            border: 2px solid;
            border-color: transparent transparent #fff #fff;
            rotate: -45deg;
        }

        &-label {
            margin-left: 30px;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.46;
            color: #9e9da8;

            @include mixins.screen(md) {
                font-size: 1.4rem;
            }
        }

        &:has(:checked) {
            &::before {
                border-color: #ffb700;
                background: #ffb700;
            }

            &::after {
                display: block;
            }
        }
    }

    &__pull-right {
        margin-left: auto;
    }

    &__label {
        display: block;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.45;
        color: var(--text-color);

        &--small {
            margin-bottom: 10px;
            font-size: 1.4rem;
        }
    }

    &__select-wrap {
        display: flex;
        align-items: center;
        height: 45px;
        border: 1px solid #d2d1d6;
        border-radius: 6px;
    }

    &__select {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: var(--width, 108px);
        height: calc(100% - 10px);
        padding: 0 14px;
        cursor: pointer;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.42;

        @include mixins.screen(xl) {
            flex: 1;
        }

        & + & {
            border-left: 1px solid #d2d1d6;
        }
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 20px;

        @include mixins.screen(sm) {
            gap: 10px;
        }
    }

    &__tag {
        padding: 6px 12px;
        border-radius: 6px;
        color: #9e9da8;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.42;
        background: var(--form-tag-bg);
        transition: color 0.2s;

        &:hover {
            color: var(--text-color);
        }
    }
}
