.form {
    &__group {
        margin-top: 30px;

        &--inline {
            display: flex;
            align-items: center;
        }
    }

    &__text-input {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
        border-radius: 10px;
        border: 1.5px solid var(--form-text-input-border);

        &:focus-within {
            border-color: #77dae6;
        }
    }

    &__input {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44;
        color: var(--text-color);

        &::placeholder {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.44;
            color: var(--form-input-color);
        }

        &-icon {
            margin-left: 12px;
        }
    }

    &__checkbox {
        display: flex;
        align-items: center;
        column-gap: 10px;

        &-label {
            color: #9e9da8;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.46;
        }
    }

    &__pull-right {
        margin-left: auto;
    }
}
